$light-grey-background: #efefef;

@import "buttons";
@import "card";
@import "column";


body {
    background: #d29034;
}

.board {
    padding: 20px;

    max-width: 100vw;
    max-height: 100vh;

    display: flex;
    align-items: start;
}
