$light-grey-background: #efefef;

@import "buttons";
@import "card";
@import "column";


body {
    background: #d29034;
}

.board {
    padding: 20px;
    width: fit-content;

    display: flex;
    align-items: start;
}
